html {
    background-color: #f5f5f5;
}

body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #333;
}

h1 {
    margin: 12px 0 10px 0;
}

button.addBtn {
    position: fixed;
    right: 10px;
    bottom: 65px;
    z-index: 10;
}

.weekDates {
    font-size: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

td.dateHeader {
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
    font-weight: bold;
}

.removeItem{
    width: 0;
}

.removeItem button{
    padding: 5px;
    min-width: unset;
    color: #444;
    font-size: 75%;
}
